<ul class="list-group">
  <li class="list-group-item">
    <div class="question_title">
      <%= @question.title %><br>
    </div>
    <div class="question_update">
      <%= @question.updated_at.to_s(:datetime_jp)%>
    </div>
  </li>
  <li class="list-group-item">
    <div class="board_body">
      <p class="card-text"><%= simple_format(@question.body) %></p>
    </div>
    <div class="answer_counter">
    </div>

    <div class="question_button">
      <% if @current_user.id == question.user_id %>
      <%= link_to '編集', edit_question_path(@question), class: 'btn btn-outline-dark btn-sm' %>
      <%= link_to '削除', question, class: 'btn btn-outline-dark btn-sm', method: :delete, data: { confirm: '削除してよろしいですか？'} %>
      <% else %>
      <% end %>
    </div>
  </li>

</ul><br>
