<div class="d-flex align-items-center">
  <h2>質問一覧</h2>
  <div class="ml-auto boards__linkBox">
    <%= link_to '新規作成', new_question_path, class: 'btn btn-secondary' %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<% @questions.each do |question| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="profile">
        image
      </div>
      <div class="">
        name<br>
      </div>
      <div class="">
        <%= question.title %><br>
      </div>
      <div class="">
        <%= question.updated_at.to_s(:datetime_jp)%>
      </div>
    </li>
    <li class="list-group-item">
      <div class="board_body">
        <p class="card-text"><%= simple_format(question.body) %></p>
      </div>
      <div class="board_button">
        <%= link_to '詳細', question, class: 'btn btn-outline-dark' %>
        <%= link_to '編集', edit_question_path(question), class: 'btn btn-outline-dark' %>
        <%= link_to '削除', question, class: 'btn btn-outline-dark', method: :delete %>
      </div>
    </li>
  </ul><br>
<% end %>
<%= paginate @questions %>
