<div class="favorite_index">
  <% @favorites.each do |favorite| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="board_user">
        <% if favorite.board.user.image.attached? %>
          <%= image_tag(favorite.board.user.image.variant(auto_orient: true),width:50)%>
        <% else %>
          <%= image_tag 'human.jpeg', width: 40 %>
        <% end %>
      <div class= 'board_name'><%= favorite.board.user.name %></div>
      </div>
      <div class="board_title">
        <%= favorite.board.title %><br>
      <p class="board_update">
        <%= favorite.board.updated_at.to_s(:datetime_jp)%>
      </p>
      </div>
      <div class="board_tag">
        <% favorite.board.tags.each do |tag| %>
          <span class ="badge badge-success"><%= tag.name %></span>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="board_body">
        <p class="card-text"><%= simple_format(favorite.board.body) %>
        </p>
        <p class="card-left">
          <% if favorite.board.images.attached? %>
            <% favorite.board.images.each do |image| %>
              <%= image_tag(image.variant(auto_orient: true),height:200) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </li>
    <li class="list-group-item">
      <%= link_to 'コメントする', board_path(favorite.board)%>
    </li>
  </ul><br>
  <% end %>
</div>

<%= paginate @favorites %>
