<div class="favorite_index">
  <% @favorites.each do |favorite| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="board_user">
        <div class="board_user_image">
          <% if favorite.board.user.image.attached? %>
            <%=link_to image_tag(favorite.board.user.image,height:55), favorite.board.user %>
          <% else %>
            <%= link_to image_tag('human.jpeg', width: 40), favorite.board.user %>
          <% end %>
        </div>
        <div class= 'board_user_name'>
          <%= favorite.board.user.name %>
        </div>
      </div>
      <div class="board_title">
        <%= favorite.board.title %><br>
        <p class="board_update">
          <%= favorite.board.updated_at.to_s(:datetime_jp)%>
        </p>
      </div>
      <div class="board_tag">
        <% favorite.board.tags.each do |tag| %>
          <span class ="badge badge-success"><%= tag.name %></span>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="board_body">
        <p class="card-text">
          <%= simple_format(favorite.board.body) %>
        </p>
        <p class="card-left"></p>
        <% if favorite.board.images.attached? %>
          <% favorite.board.images.each do |image| %>
            <div class="board_up_image">
              <%= image_tag(image,width:400) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <%= link_to 'コメントする', board_path(favorite.board)%>
    </li>
  </ul><br>
  <% end %>
</div>
<%= paginate @favorites %>
