<h2>マイページ</h2>
<div class="edit_profile_link">
  <%= link_to 'プロフィールを編集する', edit_user_path ,class:'btn btn-primary'%>
</div>
<ul class="list-group">
  <div class="user_show_profile">
  <li class="list-group-item">
    <% if @current_user.image.attached? %>
      <%= image_tag(@current_user.image,width:200) %>
    <% end %><br>
    <%= @current_user.name %>
  </li>
  <li class="list-group-item">
    年齢 　: 　<%= @current_user.age %>　　　　性別 　: 　<%= @current_user.sex %>
  </li>
  <li class="list-group-item">
    好きな国（場所）: <%= @current_user.favorite_country %>
  </li>
  <li class="list-group-item">
    行きたい国（場所）: <%= @current_user.country_you_want_to_go %>
  </li>
  <li class="list-group-item">
    自己紹介 : <%= @current_user.introduction %></li>
    </div>
</ul>
