<div class="profile_error">
</div>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if @current_user == @user %>
  <div class="edit_profile_link">
    <%= link_to 'プロフィールを編集する', edit_user_path(@user.id), class:'btn btn-outline-success'%>
  </div>
<% else %>
  <div class="edit_profile_link">
    <%= link_to 'メッセージする', conversations_path(sender_id: @current_user.id, recipient_id: @user.id), method: :post, class:'btn btn-outline-success' %>
  </div>
<% end %>
<div class="profile_image">
  <% if @user.image.attached? %>
    <%= image_tag(@user.image,width:200) %>
  <% else %>
    <%= image_tag 'human.jpeg', width:160 %>
  <% end %>
</div>
<ul class="list-group profile_flame2">
  <li class="list-group-item">
    名前 : <%= @user.name %>
  </li>
  <li class="list-group-item">
    年齢 :  <%= @user.age %>　　　
    性別 :  <%= @user.sex %>
  </li>
  <li class="list-group-item">
    好きな国（場所）: <%= @user.favorite_country %>
  </li>
  <li class="list-group-item">
    行きたい国（場所）: <%= @user.country_you_want_to_go %>
  </li>
  <li class="list-group-item">
    自己紹介 : <%= @user.introduction %>
  </li>
</ul>
<% if @current_user.admin == true %>
  <div class="admin_user_link">
    <%= link_to 'ユーザー管理画面', admin_users_path, class:'btn btn-outline-danger'%> : <%= @current_user.name %>は全てのユーザーを管理する権限があります
  </div>
<% end %>
<br><br><br>
<div class="user_boards">
  最近の投稿
</div>
<hr style="width:700px; background-color:#888888;">
<br><br>
<% @user.boards.each do |board| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="board_user">
        <div class="board_user_image">
          <% if board.user.image.attached? %>
            <%= image_tag(board.user.image,height:55)%>
          <% else %>
            <%= image_tag 'human.jpeg', width: 50 %>
          <% end %>
        </div>
        <div class= 'board_user_name'>
          <%= board.user.name %>
        </div>
      </div>
      <div class="board_title">
        <%= board.title %><br>
        <p class="board_update">
          <%= board.updated_at.to_s(:datetime_jp)%>
        </p>
      </div>
      <div class="board_tag">
        <% board.tags.each do |tag| %>
          <span class ="badge badge-success"><%= tag.name %></span>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="board_body">
        <p class="card-text"><%= simple_format(board.body) %></p>
        <p class="card-left"></p>
        <% if board.images.attached? %>
          <% board.images.each do |image| %>
            <div class="board_up_image">
              <%= image_tag(image,width:400) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <%= link_to 'コメントする', board_path(board), class:"far fa-comment"%>
      <div class="board_button">
        <%= link_to '詳細', board, class: 'btn btn-outline-dark btn-sm' %>
        <%= link_to '編集', edit_board_path(board), class: 'btn btn-outline-dark btn-sm' %>
        <%= link_to '削除', board, class: 'btn btn-outline-dark btn-sm', method: :delete %>
      </div>
    </li>
  </ul><br>
<% end %>
