<ul class="list-group">
  <li class="list-group-item">
    <div class="board_user">
      <% if @board.user.image.attached? %>
        <%=link_to image_tag(@board.user.image,height:55), board.user %>
      <% else %>
        <%= link_to image_tag('human.jpeg', width: 40), board.user %>
      <% end %>
    <div class= 'board_name'><%= @board.user.name %></div>
    </div>
    <div class="board_title">
      <%= @board.title %><br>
    <p class="board_update">
      <%= @board.updated_at.to_s(:datetime_jp)%>　　
      <%= @board.country%>　<%= @board.city%>
    </p>
    </div>
    <div class="board_tag">
      <% @board.tags.each do |tag| %>
        <span class ="badge badge-success"><%= tag.name %></span>
      <% end %>
    </div>
  </li>
  <li class="list-group-item">
    <div class="board_body">
      <p class="card-text"><%= simple_format(@board.body) %></p>
      <p class="card-left">
        <% if @board.images.attached? %>
          <% @board.images.each do |image| %>
          <div class="show_board_up_image">
              <%= image_tag(image, width:400) %>
            </div>
          <% end %>
        <% end %>
      </p>
    </div>
  </li>
  <li class="list-group-item">
    <% unless @current_user.id == @board.user_id %>
      <div class="board_favorite">
        <div id="favorite_btn_<%= @board.id %>">
          <%= render partial: "favorites/favorite", locals: {board: @board} %>
        </div>
      </div>
    <% else %>
      <div class="board_button">
        <%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark btn-sm' %>
        <%= link_to '削除', @board, class: 'btn btn-outline-dark btn-sm', method: :delete, data: { confirm: '削除してよろしいですか？'} %>
      </div>
    <% end %>
  </li>
</ul><br>
