<div class="d-flex align-items-center">
  <div class="ml-auto boards__linkBox">
    <%= link_to '新規作成', new_board_path, class: ' btn btn-outline-dark' %>
  </div>
</div>

<%= search_form_for @search, url: search_path, class: "form-inline my-2 my-lg-0" do |f| %>
  <%= f.text_field :title_or_body_or_country_or_city_cont , class:"form-control mr-sm-2",placeholder: '検索するテキストを入力...' %>
  <%= f.submit ("検索") , class:"btn btn-outline-success my-2 my-sm-0"%>
<% end %>

<%= form_with url: boards_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
  options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
  {
    prompt: 'タグで絞り込み',
    class: 'form-control boards__select',
    onchange: 'submit(this.form);'
  } %>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% @boards.each do |board| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="board_user">
        <div class="board_user_image">
          <% if board.user.image.attached? %>
            <%=link_to image_tag(board.user.image,height:55), board.user %>
          <% else %>
            <%= link_to image_tag('human.jpeg', width: 40), board.user %>
          <% end %>
        </div>
        <div class= 'board_user_name'>
          <%= board.user.name %>
        </div>
      </div>
      <div class="board_title">
        <%= board.title %><br>
      <p class="board_update">
        <%= board.updated_at.to_s(:datetime_jp)%>　　
        <%= board.country %> <%= board.city %>
      </p>
      </div>
      <div class="board_tag">
        <% board.tags.each do |tag| %>
          <span class ="badge badge-success"><%= tag.name %></span>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="board_body">
        <p class="card-text"><%= simple_format(board.body) %></p>
          <p class="card-left"></p>
            <% if board.images.attached? %>
              <% board.images.each do |image| %>
                <div class="board_up_image">
                  <%= image_tag(image,width:400) %>
                </div>
              <% end %>
            <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <% unless @current_user.id == board.user_id %>
        <div class="board_favorite">
          <div id="favorite_btn_<%= board.id %>">
            <%= render partial: "favorites/favorite", locals: {board: board} %>
          </div>
        </div>
        <div class="board_comment">
          <%= link_to 'コメントする', board_path(board), class:"far fa-comment"%>
        </div>
      <% else %>
        <div class="board_button">
          <%= link_to '詳細', board, class: 'btn btn-outline-dark btn-sm' %>
          <%= link_to '編集', edit_board_path(board), class: 'btn btn-outline-dark btn-sm' %>
          <%= link_to '削除', board, class: 'btn btn-outline-dark btn-sm', method: :delete, data: { confirm: '削除してよろしいですか？'} %>
        </div>
      <% end %>
    </li>
  </ul><br>
<% end %>
<%= paginate @boards %>
