<div class="d-flex align-items-center">
  <div class="ml-auto boards__linkBox">
    <%= link_to '新規作成', new_board_path, class: ' btn btn-outline-dark' %>
  </div>
</div>

<%= search_form_for @search, url: search_path, class: "form-inline my-2 my-lg-0" do |f| %>
  <%= f.text_field :title_cont , class:"form-control mr-sm-2",placeholder: '検索するテキストを入力...' %>
  <%= f.submit ("検索") , class:"btn btn-outline-success my-2 my-sm-0"%>
<% end %>

<%= form_with url: boards_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
  options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
  {
    prompt: 'タグで絞り込み',
    class: 'form-control boards__select',
    onchange: 'submit(this.form);'
  } %>
  <% end %>

<% if flash[:notice] %>
<div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<% @boards.each do |board| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="board_user">
        <%= image_tag(board.user.image,width:50)%>
      <div class= 'board_name'><%= board.user.name %></div>
      </div>
      <div class="board_title">
        <%= board.title %><br>
      <p class="board_update">
        <%= board.updated_at.to_s(:datetime_jp)%>
      </p>
      </div>
      <div class="board_tag">
        <% board.tags.each do |tag| %>
          <span class ="badge badge-success"><%= tag.name %></span>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="board_body">
        <p class="card-text"><%= simple_format(board.body) %></p>
        <p class="card-left">
          <% if board.images.attached? %>
            <% board.images.each do |image| %>
              <%= image_tag(image,width:200) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </li>
    <li class="list-group-item">
      <% if Favorite.exists?(user_id:@current_user.id, board_id:board.id)%>
        <%= link_to 'お気に入り解除',board_add_path(board), method: :delete %>
      <% else %>
        <%= link_to 'お気に入り', board_add_path(board), method: :post %>
      <% end %>
      <%= link_to 'コメントする', board_path(board)%>
      <div class="board_button">
        <%= link_to '詳細', board, class: 'btn btn-outline-dark btn-sm' %>
        <%= link_to '編集', edit_board_path(board), class: 'btn btn-outline-dark btn-sm' %>
        <%= link_to '削除', board, class: 'btn btn-outline-dark btn-sm', method: :delete %>
      </div>
    </li>
  </ul><br>
<% end %>
<%= paginate @boards %>
