<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
    <% if @current_user.id == @board.user_id %>
      <%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark' %>
    <% else %>
    <% end %>
  </div>
</div>
<% if flash[:notice] %>
  <div class= "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<%= render @board %>
<div id= "comments_area">
<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <div id="comments_area"><%= render partial: 'comments/comment',collection: @board.comments %></div>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>
